#can1 {
    position: absolute;
    border: 1px solid black;
    width: 200;
    height: 200;
    top: 20%;
    left: 10%;
}

#can2 {
    position: absolute;
    border: 1px solid black;
    width: 200;
    height: 200;
    top: 20%;
    left: 30%;
}

#can3 {
    position: absolute;
    border: 1px solid black;
    width: 200;
    height: 200;
    top: 20%;
    left: 50%;
}